
<div class = "life">
  <h2><%= @cocktail.name %></h2>
<%= link_to 'Back', cocktails_path %> |
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>
</div>
<div class = "header">
<%  if @cocktail.photo.attached? %>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
<img src="https://source.unsplash.com/1600x900/?<%= @cocktail.name %>" alt="Cocktail">
<% end %>
</div>
<div class = "container"></div>
  <div class ="jerk">
    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item">
            <%= dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to "Remove",
                        dose_path(dose),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
      </li>
    </ul>
  <% end %>
  </div>
</div>

